# emacs autosave and backup files
*~
\#[^\#]+\#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows folder config file
Desktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac file indexing crap
.DS_Store

# PyCharm stuff
.idea

# SCons build state / dependency tracking cache DB
.sconsign.dblite

# Cached python module bytecode
__pycache__
